* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: #9a0909;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    height: 60px;
    padding-top: 15px;
}

.images {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.cat-dog {
    padding-left: 60px;
    padding-right: 65px;
}

.flower-butterfly {
    padding-left: 65px;
    padding-right: 65px;
}

.watch {
    padding-left: 65px;
    padding-right: 65px;
}

.flower {
    padding-left: 65px;
    padding-right: 65px;
}

.main-part {
    display: flex;
}

.left-sidebar {
    background-color: #7d0909;
    color: #f06255;
    line-height: 45px;
    width: 1200px;
    margin-left: 15px;
    margin-top: 3px;
}

.text {
    color: #fff;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.title {
    background-color: #d3d3d3;
    width: 850px;
    margin-top: 3px;
    margin-right: 3px;
}

.title-header {
    background-color: #a9a9a9;
    text-align: center;
}

.title-text {
    padding-top: 40px;
}

footer {
    background-color: #eb6f0a;
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

hr {
    width: 100px;
    margin: auto;
    margin-top: 20px;
}




